{% extends 'posts/base_detail.html' %}
{% load staticfiles %}
{% block body %}

<div class="about">
    <h1>Wiwik - The Experiential Knowledge and Skill Transfer Database</h1>
    <br/>
<h5 class="about-content"><strong>Have you ever wondered what it would be like to learn a new skill in half the time it would normally take?
</strong>
    <br/>
    <br/>
    Not so long ago if you wanted to learn something new you had to go to your local library and checkout every book on
    a specific topic or buy a book that will satisfy the requirements. The transfer of knowledge from everything from skydiving to
    carpentry was book-based. You could ask your family and friends for tips tricks and advise if any of them had experience in this
    or you could join a club or just go to a shop where they sell the stuff and ask around there for more info.
    <br/>
    <br/>
    As you can figure out we used to spend most of our time just finding a resource, person or place where we could learn more.
    <br/>
    <br/>
    <span><h4>Today with search engines and the open source sharing platforms you can find out just about anything about everything.</h4></span>
    <br/>
    <strong>Let's say you wanted to learn a new skill for example you want to learn to become a self-taught master at astronomy.</strong>
    <br/>
    The first thing you'll probably do is jump on the internet and start searching for the prices of a telescope and other equipment
    as well as where to buy it online or retail. Then you would start your quest by looking at articles and videos to get you started. You would get many different
    opinions, sources, tactics and references. You might learn identification of the major star signs depending on the season, look at the moon
    or try dissecting the milky way and in learning to do a lot of these things on your own but the problem is when would you qualify?
    And how much time did you waste?
    <br/>
    <br/>
    <strong>What if you took on a skill that's more geared towards you taking a shift in your career or making a passive income?</strong>
    <br/>
    Now your attempts are not just those of the avid hobbyist but needs to be worth your time and your effort and will possibly need
    to cost you a fraction of an Ivy league education.

    Enter WIWIK - A community where people can share and educate others from their own experiences.

    WIWIK which stands for What I Wish I Knew(before I built my own skate ramp and it broke my fall when it broke...).

    Users can post their processes and efforts to help others avoid the pitfalls and frustrations that should not necessarily be a part
    of the process. Giving NOOBS a heading and equiping them with the tools to acquire skills.
    <br/>
    <br/>
    <strong>We encourage users to post WIWIKS that include humor and wit and keep it lighthearted as far as possible, because most of us
        want to have fun learning not dread any of it, and thus you will be rewarded with recommendations from other users.
        Furthermore feel free to include resources and links to your own website if you deliver products or started your own business
        and today you think What I Wish I Knew about what I started before I started. Give the gift of knowledge and empower others and we will
        empower you!</strong>
    <br/>
    <br/>
    You can post anything as long as the content is filled with knowledge and is insightful to a particular demographic who would find the information useful.
    <br/>
    <br/>
    The concept behind our ideology can be discovered in Tibetan Buddhism where a chosen child is to replace the Dalai Lama who had passed on.
    The Dalai Lama at his end is said to practice active dying in order to release his consciousness into the world to be reincarnated
    into another being through whom the Dalai Lama is reincarnated. This child is said to be the reborn Dalai Lama and is raised for high priesthood.
    All the wisdom and knowlegde is already with the chosen child because the child is the Dalai Lama. Therefore the ascensions to greater levels
    and higher spiritually will just be a natural process.
    <br/>
    <br/>
    In the same way as the chosen child possesses the wisdom and skills and wisdom from the previous Dalai Lama.

    <strong>We believe that every human has inborn wisdom, knowledge and potential.</strong> The choice to learn
    something new and challenging is to be an expression of these inborn "gifts" and must be encouraged to further the human race and
    help people free themselves to dare to do what they dream.
    <br/>
    <br/>
    So join us on this journey towards knowledge learning and having fun doing it!
    <br/>
    <br/>
   <span><h4><strong> WIWIK - What I Wish I Knew</strong></h4></span>

    </h5>
</div>

{% endblock %}