{% extends 'posts/base_landing.html' %}

{% block title %}Wiwik{% endblock %}

{% block body %}
<div class="blackness">

    <div class="homer">
        <div class="container-fluid">
            <div class="row">
                    <div>
                        <h1 class="land">WIWIK</h1>
                        <br/>
                        <br/>
                        <br/>

                        <h2 class="ignite">knowledge of discovery </h2>


                        <h2 class="indigo">discovery of knowledge </h2>

                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}

