{% extends 'posts/base_landing.html' %}

{% block title %}W.I.W.I.K{% endblock %}

{% block body %}
<div class="blackness">

    <div class="homer">


                    <div>
                        <h1 class="land">WIWIK</h1>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <h2 class="ignite">&nbsp;knowledge of discovery</h2>
                        <h2 class="indigo">discovery of everything</h2>

                    </div>

            </div>
    </div>

{% endblock %}

