{% extends 'posts/base_visitor.html' %}
{% block title %}Register{% endblock %}


{% block body %}
<div class="homer">
<div class="container-fluid register">

    <div class="row">

        <div class="col-sm-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="col-sm-12 col-md-8">Create New Account</h3>
                    <br/>
                    <form class="form_horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'posts/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>
    </div>
{% endblock %}