{% extends 'posts/base.html' %}

{% block body %}

{% if not request.user.is_loggedin %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-offset-3 col-md-5">
            <div class="panel panel-default dash">
                <div class="panel-body">

                        {% csrf_token %}
                        <h1 class="fof">Your Profile: {{ post.username }}</h1>
                        <h4>Bio:</h4>
                        <h5>{{ post.profile.bio }}</h5>
                        <h4 class="author">Your Profile Picture: </h4>
                        {% if post.profile.avatar.url %}
                        <img class="img-responsive" src="{{ post.profile.avatar.url }}" alt="{{ post.username }}" />
                        {% else %}
                        <img class="img-responsive" src="{{ 'static/placeholder.jpg' }}" alt="{{ post.username }}"/>
                        {% endif %}
                    <br/>
                    <h4 class="author">Name:</h4>
                    <h5>{{ post.first_name }}</h5>
                    <h4 class="author">Last Name:</h4>
                    <h5>{{ post.last_name }}</h5>
                    <h4 class="author">Posts by User:</h4>
                    {% for p in posts %}
                    <p><strong> Posted by </strong> <span class="idex"><a href="{% url 'posts:view_user' username=post.user.username user_id=post.user_id %}"><strong>{{ post.user.username }}</strong></a>
                        &nbsp;<img src="{{ post.user.profile.avatar.url}}" class="post-thumb"/> </span>
                        <span class="biography cursive"> {{ post.user.profile.bio }}</span> <br/><span class="topic"> {{post.category}}</span>
                        <br/><span class="tiny"> on {{post.post_date}}  <br/>With {{post.upvote}} Recommendations</span> </p>

                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

</div>
{% else %}

<h4 style="margin-top:200px;">You have to be logged in to view this profile!</h4>
{% endif %}


{% endblock %}
