{% extends 'posts/base.html' %}

{% block body %}

{% if not request.user.is_loggedin %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-offset-3 col-md-5">
            <div class="panel panel-default dash">
                <div class="panel-body">

                        {% csrf_token %}
                        <h1 class="fof author">{{ post.username }}</h1>
                        <h4 class="author">Bio:</h4>
                        <h5>{{ post.profile.bio }}</h5>
                        <h4 class="author">Your Profile Picture: </h4>
                        {% if post.profile.avatar.url %}
                        <img class="img-responsive" src="{{ post.profile.avatar.url }}" alt="{{ post.username }}" />
                        {% else %}
                        <img class="img-responsive" src="{{ 'static/placeholder.jpg' }}" alt="{{ post.username }}"/>
                        {% endif %}
                    <br/>
                    <h4 class="author">Name:</h4>
                    <h5>{{ post.first_name }}</h5>
                    <h4 class="author">Last Name:</h4>
                    <h5>{{ post.last_name }}</h5>
                    <br/>
                    <h4><strong>Posts for {{post.username}}:</strong></h4>
                    {% for p in posts %}
                        <h3><a href="{% url 'posts:detail' post.id %}"> {{ p.post_title}}</a> </h3>
                        <span class="topic"> {{post.category}}</span>
                        <span class="tiny"> on {{p.post_date}}  <br/>With {{post.upvote}} Recommendations</span> </p>

                        <a href="{% url 'posts:detail' post.id %}">
                        {% if p.image %}
                            <img src="{{ p.image.url }}" class="post-thumb"/>
                        {% else %}

                        {% endif %}
                        </a>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

</div>
{% else %}

<h4 style="margin-top:200px;">You have to be logged in to view this profile!</h4>
{% endif %}


{% endblock %}
