

{% extends 'posts/base.html' %}
{% block title %}Wiwik | Welcome{% endblock %}

{% block body %}

<div class="left">

</div>

<div class="main">
    <div class="content">

    <h3> Welcome, {{ request.user.username }}. Thank you for Logging in.</h3>

    <h5 class="center"> Please wait while we redirect you.</h5>
        </div>

</div>

<script>
    function redirect(){
       window.location.href = "http://www.wiwik.online/posts/";
    }

    setTimeout(redirect, 5000); //2000 is equivalent to 2 seconds
</script>


{% endblock %}
